player-connection-mode=Listen
player-connection-guid=2456825905
player-connection-debug=0
player-connection-project-name=Lion Game POC
player-connection-ip=192.168.2.33
player-connection-ip=169.254.83.107
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=4c375c1b7a98489fa55fc74efa59bc71
